html { 
  background: url(images/sathergate.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
	font-family: Helvetica;
}

.nav .logo li {
	display: inline-block;
	margin-right: 10px;
	margin-top: 20px;
	color: #FFF;
	float:left;
}

.nav .links li {
	display: inline-block;
	float: right;
	margin-right: 40px;
	margin-top: 20px;
	font-family: Helvetica;
	color: #FFF;
}

.nav .links li:hover {
	-webkit-transition: 0.3s ease;
            transition: 0.3s ease;
	border-bottom: 1px solid #FFF;
	cursor: pointer;
}

.signup-before {
	padding-top: 300px;
}

h1 {
	font-family: Helvetica;
	font-weight: 300;
	font-size: 32pt;
	text-align: center;
	color: #FFF;
}

.signup-button p {
	font-family: Helvetica;
	text-align: center;
}

.signup-button {
	border: 2px solid #FFF;
	width: 200px;
	height: 50px;
	margin-left: calc(50% - 100px);
	color: #FFF;
	border-radius:5px;
	transition: background .4s;
}

.signup-button:hover {
	background: #FFF;
	color: #0B0B5E;
	transition: .4s;
	cursor: pointer;
}

.signup-after {
	position:absolute;
	text-align: center;
	margin-top: 200px;
	margin-left: calc(50% - 300px - 8px);
	display:none;
}

input {
	padding:15px;
	width: 300px;
	border: solid 1px #dcdcdc;
	border-radius:5px;
	margin-bottom: 15px;
	font-size: 10pt;
	transition: box-shadow 0.3s, border 0.3s;
}

input:focus {
	border-radius:5px;
	border: solid 1px #707070;
  	box-shadow: 0 0 5px 1px #969696;
}

.login {
	position: absolute;
	background: #FFF;
	width: 300px;
	height: 185px;
	padding: 10px;
	border-radius:10px;
	margin-left: calc(75% - 10px);
	margin-top: 50px;
	transition:opacity .3s linear;
	opacity: 0;
}

#login-button {
	border: 2px solid #0B0B5E;
	height: 50px;
	width: 150px;
	text-align:center;
	margin-left: calc(50% - 75px);
	border-radius:5px;
	transition: .4s;
}

#login-button:hover {
	background: #0B0B5E;
	color: #FFF;
	transition: .4s;
	cursor: pointer;
}