#index { 
  background: url(images/sathergate.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
}

body {
	font-family: Helvetica;
}

.logo-art {
	width: 100px;
}

#fixed-logo {
	position:fixed;
	z-index: 2;
	margin-left: 10px;
	margin-top: 10px;
}

.nav li {
	display: inline-block;
	margin-top: 20px;
}

.logo li {
	margin-right: 10px;
	float:left;
}

.links li {
	margin-right: 40px;
	float: right;
}

#index-logo li {
	color: #FFF;
}

#index-links li {
	color: #FFF;
}

#index-links li:hover {
	-webkit-transition: 0.3s ease;
            transition: 0.3s ease;
	border-bottom: 1px solid #FFF;
	cursor: pointer;
}

.signup-before {
	padding-top: 300px;
}

h1 {
	font-family: Helvetica;
	font-weight: 300;
	font-size: 32pt;
	text-align: center;
	color: #FFF;
}

.signup-button p {
	font-family: Helvetica;
	text-align: center;
}

.signup-button {
	border: 2px solid #FFF;
	width: 200px;
	height: 50px;
	margin-left: calc(50% - 100px);
	color: #FFF;
	border-radius:5px;
	transition: background .4s;
}

.signup-button:hover {
	background: #FFF;
	color: #0B0B5E;
	transition: .4s;
	cursor: pointer;
}

.signup-after {
	position:absolute;
	text-align: center;
	margin-top: 200px;
	margin-left: calc(50% - 300px - 8px);
	display:none;
}

input {
	padding:15px;
	width: 270px;
	border: solid 1px #dcdcdc;
	border-radius:5px;
	margin-bottom: 15px;
	font-size: 10pt;
	transition: box-shadow 0.3s, border 0.3s;
}

input:focus {
	border-radius:5px;
	border: solid 1px #707070;
  	box-shadow: 0 0 5px 1px #969696;
}

.login {
	position: absolute;
	background: #FFF;
	width: 300px;
	height: 180px;
	padding: 10px;
	border-radius:10px;
	margin-left: calc(75% - 10px);
	margin-top: 50px;
	display:none;
}

#login-button {
	border: 2px solid #0B0B5E;
	height: 50px;
	width: 150px;
	text-align:center;
	margin-left: calc(50% - 75px);
	border-radius:5px;
	transition: .4s;
}

#login-button:hover {
	background: #0B0B5E;
	color: #FFF;
	transition: .4s;
	cursor: pointer;
}

html, body, #map-canvas {
	height:100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
	transition: width .4s;
}

#search-button {
	position:absolute;
	z-index:1;
	height: 50px;
	width: 100px;
	background: black;
	margin-left: calc(100% - 75px);
	margin-top: 100px;
	cursor:pointer;
	color: white;
	border-radius: 5px 5px 0px 0px;
	-ms-transform:rotate(270deg); /* IE 9 */
	-moz-transform:rotate(270deg); /* Firefox */
	-webkit-transform:rotate(270deg); /* Safari and Chrome */
	-o-transform:rotate(270deg); /* Opera */
	transition: .4s;
}

#search-button p {
	text-align: center;
	vertical-align: middle;
}

#search {
	position: absolute;
	margin-left: calc(100% - 270px - 30px - 15px);
	margin-top: 15px;
}